<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="commande">
            <h2><span jhiTranslate="coopcycleApp.commande.detail.title">Commande</span> {{ commande.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="coopcycleApp.commande.adresse">Adresse</span></dt>
                <dd>
                    <span>{{ commande.adresse }}</span>
                </dd>
                <dt><span jhiTranslate="coopcycleApp.commande.course">Course</span></dt>
                <dd>
                    <div *ngIf="commande.course">
                        <a [routerLink]="['/course', commande.course?.id, 'view']">{{ commande.course?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="coopcycleApp.commande.compte">Compte</span></dt>
                <dd>
                    <div *ngIf="commande.compte">
                        <a [routerLink]="['/compte', commande.compte?.id, 'view']">{{ commande.compte?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="coopcycleApp.commande.restaurant">Restaurant</span></dt>
                <dd>
                    <div *ngIf="commande.restaurant">
                        <a [routerLink]="['/restaurant', commande.restaurant?.id, 'view']">{{ commande.restaurant?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="coopcycleApp.commande.produit">Produit</span></dt>
                <dd>
                    <span *ngFor="let produit of commande.produits; let last = last">
                        <a [routerLink]="['/produit', produit?.id, 'view']">{{ produit.id }}</a>{{ last ? '' : ', ' }}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/commande', commande.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
