<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="avis">
            <h2><span jhiTranslate="coopcycleApp.avis.detail.title">Avis</span> {{ avis.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="coopcycleApp.avis.note">Note</span></dt>
                <dd>
                    <span>{{ avis.note }}</span>
                </dd>
                <dt><span jhiTranslate="coopcycleApp.avis.description">Description</span></dt>
                <dd>
                    <span>{{ avis.description }}</span>
                </dd>
                <dt><span jhiTranslate="coopcycleApp.avis.course">Course</span></dt>
                <dd>
                    <div *ngIf="avis.course">
                        <a [routerLink]="['/course', avis.course?.id, 'view']">{{ avis.course?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/avis', avis.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
